########################
# NODE
########################

node_modules
npm-debug.log
**/logs/**


########################
# misc / editors
########################
*~
*#
**/.DS_STORE/**
**/tmp/**
**/.vscode/**

########################
# docs / tests
########################
doc
report.xml

########################
# local config
########################
.jenkins.conf
test.js
debug.js
